<ion-app>
  <div class="ion-page" id="main-content">
    <ion-header [translucent]="true">
      <ion-toolbar>
        <ion-title>Home</ion-title>
        <ion-item slot="end" lines="none">
          <ion-label>Remainder Attività</ion-label>
          <ion-checkbox
            [(ngModel)]="isPeriodicNotificationEnabled"
            (ionChange)="togglePeriodicNotification($event)"
            [disabled]="isActivityStarted"></ion-checkbox>
        </ion-item>
      </ion-toolbar>
    </ion-header>


    <ion-content [fullscreen]="true">
      <ion-card *ngIf="isActivityStarted">
        <ion-card-header>
          <ion-card-title>Attività in corso: {{ currentActivity.type }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Tempo: {{ formatTime(elapsedTime) }} <span *ngIf="showBlinkingDot" style="color: red;">•</span></p>
          <p>Data: {{ currentActivity.startTime | date:'shortDate' }}</p>

          <!-- Dettagli specifici per ogni attività -->
          <ng-container [ngSwitch]="currentActivity.type">
            <div *ngSwitchCase="'driving'">
            </div>

            <div *ngSwitchCase="'walking'">
              <p>Passi: {{ steps }}</p>
              <p>Kcal bruciate: {{ calories | number: '1.0-0' }}</p> <!-- Mostra le calorie con un formato intero -->
              <p>Distanza: {{ distance | number: '1.2-2' }} km</p> <!-- Mostra la distanza con due decimali -->
            </div>


            <div *ngSwitchCase="'sport'">
              <p>Passi: {{ steps }}</p>
              <p>Kcal bruciate: {{ calories | number: '1.0-0' }}</p>
              <p>Distanza: {{ distance | number: '1.2-2' }} km</p>
            </div>
          </ng-container>
        </ion-card-content>
      </ion-card>

      <ion-card *ngIf="!isActivityStarted">
        <ion-card-header>
          <ion-card-title>Attività</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <ion-button expand="block" color="success" (click)="startActivity('walking')">
            Inizia a camminare
          </ion-button>

          <ion-button expand="block" color="primary" (click)="startActivity('driving')">
            Inizia a guidare
          </ion-button>

          <ion-button expand="block" color="warning" (click)="startActivity('sitting')">
            Inizia a stare seduto
          </ion-button>

          <ion-button expand="block" color="tertiary" (click)="startActivity('sport')">
            Inizia attività sportiva
          </ion-button>
        </ion-card-content>
      </ion-card>

      <ion-card *ngIf="isActivityStarted">
        <ion-card-content>
          <ion-button expand="block" color="danger" (click)="stopActivity()">
            Ferma l'attività
          </ion-button>
        </ion-card-content>
      </ion-card>

      <ion-list>
        <ion-item *ngFor="let activity of activityHistory">
          <ion-label>
            <h2>{{ activity.type | titlecase }} - {{ activity.date | date:'short' }}</h2>
            <p>Distanza: {{ activity.distance }} Km</p>
            <p>Calorie: {{ activity.calories }} Kcal</p>
            <p>Tempo: {{ activity.duration }}</p>
            <p *ngIf="activity.type === 'walking'">Passi: {{ activity.steps }}</p>
          </ion-label>
        </ion-item>
      </ion-list>

      <ion-card>
        <ion-button (click)="activateGeofenceMode()">Aggiungi Geofence</ion-button>
        <ion-button color="danger" (click)="showGeofences()">
          {{ isGeofenceListVisible ? 'Nascondi Geofence' : 'Mostra Geofence' }}
        </ion-button>
      </ion-card>
      <div style=" background: transparent; width: 100%; height: 300px;">
        <div id="map" style="width: 100%; height: 90%;"></div>
      </div>

      <div *ngIf="isGeofenceListVisible">
        <ion-list>
          <ion-item *ngFor="let geofence of geofences; let i = index">
            <ion-label>
              Geofence {{ i + 1 }} - Lat: {{ geofence.lat }}, Lng: {{ geofence.lng }}, Raggio: {{ geofence.radius }}m
            </ion-label>
            <ion-button color="danger" (click)="removeGeofence(i)">Rimuovi</ion-button>
          </ion-item>
        </ion-list>
      </div>

    </ion-content>

    <ion-footer>
      <ion-toolbar>
        <ion-tabs>
          <ion-tab-bar slot="bottom">
            <ion-tab-button (click)="goToHome()">
              <ion-icon name="home-outline"></ion-icon>
              <ion-label>Home</ion-label>
            </ion-tab-button>

            <ion-tab-button (click)="goToStatistics()">
              <ion-icon name="stats-chart-outline"></ion-icon>
              <ion-label>Statistiche</ion-label>
            </ion-tab-button>

            <ion-tab-button (click)="goToCalendar()">
              <ion-icon name="calendar-outline"></ion-icon>
              <ion-label>Calendario</ion-label>
            </ion-tab-button>

            <ion-tab-button (click)="goToCommunity()">
              <ion-icon name="people-outline"></ion-icon>
              <ion-label>Community</ion-label>
            </ion-tab-button>
          </ion-tab-bar>
        </ion-tabs>
      </ion-toolbar>
    </ion-footer>
  </div>
</ion-app>

