.month-selector {
  overflow-x: auto; /* Abilita lo scorrimento orizzontale */
  white-space: nowrap; /* Impedisce il wrapping del contenuto */
  padding: 10px 0; /* Padding per il contenitore */
}

.month-scroll {
  display: flex; /* Usa il flexbox per allineare i bottoni in linea */
}

.month-button {
  border: none;
  background: none;
  padding: 10px 15px;
  margin: 0 5px; /* Spaziatura tra i bottoni */
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s; /* Transizione per il hover */
}

.month-button:hover {
  background: #e0e0e0; /* Colore di sfondo quando si passa il mouse */
}

button {
  padding: 10px;
  margin: 5px;
  border: none;

  cursor: pointer;
}

button.active {
  background-color: #007bff; /* Colore di evidenziazione */
  color: white; /* Colore del testo */
}

.chart-container {
  width: 100%; /* Rende il contenitore responsivo */
  overflow-x: auto; /* Abilita lo scorrimento orizzontale */
}

.chart-wrapper {
  min-width: 1200px; /* Imposta una larghezza minima per evitare il grafico schiacciato */
  height: 400px; /* Altezza preferita per il grafico */
}


