<ion-app>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Statistiche</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <div>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Statistiche delle Attività</ion-card-title>
            <div class="month-selector">
              <div class="month-scroll">
                <button *ngFor="let month of months"
                        class="month-button"
                        (click)="selectMonth(month.value)">
                  {{ month.label }}
                </button>
              </div>
            </div>
          </ion-card-header>
          <ion-card-content>
            <canvas id="activityChart"></canvas>
          </ion-card-content>
        </ion-card>
      </div>
    </ion-content>


    <ion-footer>
      <ion-toolbar>
        <ion-tabs>
          <ion-tab-bar slot="bottom">
            <ion-tab-button (click)="goToHome()">
              <ion-icon name="home-outline"></ion-icon>
              <ion-label>Home</ion-label>
            </ion-tab-button>
            <ion-tab-button (click)="goToStatistics()">
              <ion-icon name="stats-chart-outline"></ion-icon>
              <ion-label>Statistiche</ion-label>
            </ion-tab-button>
            <ion-tab-button (click)="goToCalendar()">
              <ion-icon name="calendar-outline"></ion-icon>
              <ion-label>Calendario</ion-label>
            </ion-tab-button>
            <ion-tab-button (click)="goToCommunity()">
              <ion-icon name="people-outline"></ion-icon>
              <ion-label>Community</ion-label>
            </ion-tab-button>
          </ion-tab-bar>
        </ion-tabs>
      </ion-toolbar>
    </ion-footer>
  </div>
</ion-app>
